{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is a sample Petstore server.  You can find \nout more about Swagger at \n[http://swagger.io](http://swagger.io) or on \n[irc.freenode.net, #swagger](http://swagger.io/irc/).\n",
    "version" : "1.0.0",
    "title" : "Autopilot Console API",
    "termsOfService" : "http://swagger.io/terms/",
    "contact" : {
      "email" : "apiteam@swagger.io"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "ec2-35-170-131-54.compute-1.amazonaws.com",
  "basePath" : "/api/v2",
  "tags" : [ {
    "name" : "production",
    "description" : "Autopilot App Group"
  }, {
    "name" : "topic",
    "description" : "Autopilot Topics"
  }, {
    "name" : "audience",
    "description" : "Autopilot Audiences"
  } ],
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/production" : {
      "get" : {
        "tags" : [ "production" ],
        "summary" : "Query production info",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "Production info returned",
            "schema" : {
              "$ref" : "#/definitions/Production"
            }
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/apps" : {
      "get" : {
        "tags" : [ "production" ],
        "summary" : "Query apps info",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "get_sample_ratio",
          "in" : "query",
          "description" : "get sample ratio of each app",
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Apps info returned",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/RegisteredApp"
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/topics" : {
      "get" : {
        "tags" : [ "topic" ],
        "summary" : "Query topics brief info",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "fields to return (seperated by comma \",\")",
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Topics found",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/TopicBrief"
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "post" : {
        "tags" : [ "topic" ],
        "summary" : "Creates a new topic.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "body",
          "in" : "body",
          "schema" : {
            "type" : "object",
            "required" : [ "name", "type", "description", "duration" ],
            "properties" : {
              "name" : {
                "type" : "string"
              },
              "type" : {
                "type" : "string"
              },
              "description" : {
                "type" : "string"
              },
              "duration" : {
                "type" : "string"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Topic created",
            "schema" : {
              "type" : "object",
              "properties" : {
                "topic_id" : {
                  "type" : "string"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/topics/text_rtot" : {
      "get" : {
        "tags" : [ "topic", "text_rtot" ],
        "summary" : "Gets topics that support TextRTOT",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "Topics found",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/TextRTOTTopicBrief"
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/topics/text_rtot/{topic_id}" : {
      "get" : {
        "tags" : [ "topic", "text_rtot" ],
        "summary" : "Gets topics that support TextRTOT",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "in" : "path",
          "description" : "topic id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Topic found",
            "schema" : {
              "$ref" : "#/definitions/TextRTOTTopicBrief"
            }
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/topics/{topic_id}" : {
      "get" : {
        "tags" : [ "topic" ],
        "summary" : "Gets specific topic's detail",
        "parameters" : [ {
          "name" : "topic_id",
          "in" : "path",
          "description" : "topic id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "RTOT Topic found",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Topic"
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "patch" : {
        "tags" : [ "topic" ],
        "summary" : "Partially updates a topic. Note that the `status` can only be changed to 'archived', and the `integration_test_status` can only be changed to 'passed'. 'status' suppresses other modifications, and 'integration_test_status' suppresses other modifications and is supperessed by 'status'.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "description" : "",
          "schema" : {
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string"
              },
              "description" : {
                "type" : "string"
              },
              "duration" : {
                "type" : "string"
              },
              "status" : {
                "type" : "string"
              },
              "integration_test_status" : {
                "type" : "string"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Topic updated",
            "schema" : {
              "type" : "object",
              "properties" : {
                "topic_id" : {
                  "type" : "string"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "delete" : {
        "tags" : [ "topic" ],
        "summary" : "Deletes the specified topic.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Topic deleted",
            "schema" : {
              "type" : "object"
            }
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/topic/rtot" : {
      "get" : {
        "tags" : [ "topic" ],
        "summary" : "Gets RTOT Topic",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "RTOT Topic found",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Topic"
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "No RTOT Topic"
          }
        }
      }
    },
    "/topic/strategy/interval" : {
      "get" : {
        "tags" : [ "topic" ],
        "summary" : "Gets Interval Strategy Topic",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "Interval Strategy Topic found",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Topic"
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    },
    "/topic/strategy/action" : {
      "get" : {
        "tags" : [ "topic" ],
        "summary" : "Gets Action Strategy Topic",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "Interval Strategy Topic found",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Topic"
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    },
    "/topics/{topic_id}/events" : {
      "post" : {
        "tags" : [ "topic" ],
        "summary" : "Creates an Event for specified Topic.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string"
              },
              "description" : {
                "type" : "string"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Event created"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/topics/{topic_id}/events/{event_name}" : {
      "patch" : {
        "tags" : [ "topic" ],
        "summary" : "Partially updates an event",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "event_name",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "type" : "object",
            "properties" : {
              "description" : {
                "type" : "string"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Event updated"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "delete" : {
        "tags" : [ "topic" ],
        "summary" : "Delete an Event",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "event_name",
          "type" : "string",
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Event deleted"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/topics/{topic_id}/variations" : {
      "post" : {
        "tags" : [ "topic" ],
        "summary" : "Creates a Variation for specified Topic.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string"
              },
              "description" : {
                "type" : "string"
              },
              "type" : {
                "type" : "string"
              },
              "default" : {
                "type" : "string"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Variation created"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "patch" : {
        "tags" : [ "topic" ],
        "summary" : "Applies variations of a Text RTOT Case to the topic, only update the variations of same lacale with the case, no side effects to unrelated variations.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "type" : "object",
            "properties" : {
              "testset_id" : {
                "type" : "string",
                "description" : "should be an id of TRSet"
              },
              "case_id" : {
                "type" : "string"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Succeeded"
          }
        }
      }
    },
    "/topics/{topic_id}/variations/{variation_name}" : {
      "patch" : {
        "tags" : [ "topic" ],
        "summary" : "Partially updates a Variation",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "variation_name",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "type" : "object",
            "properties" : {
              "description" : {
                "type" : "string"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Variation updated"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "delete" : {
        "tags" : [ "topic" ],
        "summary" : "Deletes a Variation",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "variation_name",
          "type" : "string",
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Variation deleted"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/topics/{topic_id}/goals" : {
      "post" : {
        "tags" : [ "topic" ],
        "summary" : "Creates a Goal for specified Topic.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string"
              },
              "type" : {
                "type" : "string"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Goal created"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/topics/{topic_id}/goals/{goal_name}" : {
      "patch" : {
        "tags" : [ "topic" ],
        "summary" : "Partially updates a Goal",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "goal_name",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "type" : "object",
            "properties" : {
              "description" : {
                "type" : "string"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Goal updated"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "delete" : {
        "tags" : [ "topic" ],
        "summary" : "Delete a Goal",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "goal_name",
          "type" : "string",
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Goal deleted"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/rules" : {
      "get" : {
        "tags" : [ "rule" ],
        "summary" : "Gets Rule List for specified topic_ids and audience_ids",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_ids",
          "required" : true,
          "in" : "query",
          "type" : "string",
          "description" : "comma separated"
        }, {
          "name" : "audience_ids",
          "required" : true,
          "in" : "query",
          "type" : "string",
          "description" : "comma separated"
        } ],
        "responses" : {
          "200" : {
            "description" : "Rule List Found",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Rule"
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/testset/{testset_id}" : {
      "get" : {
        "tags" : [ "testset" ],
        "summary" : "Gets a Testset for specified topic_id and testset_id",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "required" : true,
          "in" : "query",
          "type" : "string"
        }, {
          "name" : "testset_id",
          "required" : true,
          "in" : "path",
          "type" : "string"
        }, {
          "name" : "fields",
          "required" : true,
          "in" : "path",
          "description" : "Comma separated, can be arbitrary combination of 'cases', 'case_summary', 'audinece', 'autotest', 'control_group' and 'integration_test' (for RTOT Popup topics only).",
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Testset Found",
            "schema" : {
              "$ref" : "#/definitions/Testset"
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "patch" : {
        "tags" : [ "testset" ],
        "summary" : "Partially updates a testet. Not all of the supported operations can be done within the same request,  'status' suppresses other modifications; and 'autotest_conditions' (for an ordinary testset) or 'integration_test_status' (for a testset of RTOT Popup topic) superresses other modifications and is superressed by 'status'; 'clear_integration_data' (boolean, for a testset of RTOT Popup topic, should always be True if provided) suppresses other modifications and is suppressed by 'status' or 'integration_test_status'.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "required" : true,
          "in" : "query",
          "type" : "string"
        }, {
          "name" : "testset_id",
          "required" : true,
          "in" : "path",
          "type" : "string"
        }, {
          "name" : "body",
          "required" : true,
          "in" : "body",
          "schema" : {
            "type" : "object"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Testset updated",
            "schema" : {
              "$ref" : "#/definitions/OperationSuccessFlag"
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "delete" : {
        "tags" : [ "testset" ],
        "summary" : "Deletes an ordinary Testset.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "required" : true,
          "in" : "query",
          "type" : "string"
        }, {
          "name" : "testset_id",
          "required" : true,
          "in" : "path",
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Testset deleted",
            "schema" : {
              "$ref" : "#/definitions/OperationSuccessFlag"
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/testsets" : {
      "get" : {
        "tags" : [ "testset" ],
        "summary" : "Gets Testsets for specified topic_id",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "required" : true,
          "in" : "query",
          "type" : "string"
        }, {
          "name" : "fields",
          "required" : true,
          "in" : "path",
          "description" : "Comma separated, can be arbitrary combination of 'cases', 'case_summary', 'audinece', 'autotest', 'control_group' and 'integration_test' (for RTOT Popup topics only).",
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Testset List Found",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Testset"
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "post" : {
        "tags" : [ "testset" ],
        "summary" : "Creates a Testset. The API dectect the topic type and then takes corresponding actions, please provide proper body parameters according to the topic tpye (RTOT Popup or ordinary).",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "required" : true,
          "in" : "query",
          "type" : "string"
        }, {
          "name" : "testset_id",
          "required" : true,
          "in" : "path",
          "type" : "string"
        }, {
          "name" : "body",
          "required" : true,
          "in" : "body",
          "schema" : {
            "type" : "object"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Testset created",
            "schema" : {
              "type" : "object",
              "properties" : {
                "testset_id" : {
                  "type" : "string"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Topic not found"
          }
        }
      }
    },
    "/segments" : {
      "get" : {
        "tags" : [ "segment" ],
        "summary" : "Get Segments for specified topic_id",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "required" : true,
          "in" : "query",
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Testset List Found",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Segment"
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/cases" : {
      "get" : {
        "tags" : [ "case" ],
        "summary" : "Currently only supports usage on ordinary Test Results page.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "testset_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Case list found",
            "schema" : {
              "type" : "object"
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "post" : {
        "tags" : [ "case", "text_rtot" ],
        "summary" : "Currently only supports Case creation for a Text Rtot Set.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tr_test_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "testset_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Access token of a Text Rtot Test, requests from the shared page should provide this token."
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "type" : "object"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Case created",
            "schema" : {
              "type" : "object",
              "properties" : {
                "case_id" : {
                  "type" : "string"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/cases/{case_id}" : {
      "patch" : {
        "tags" : [ "case", "text_rtot" ],
        "summary" : "Partially updates a Case. For a RTOT Popup topic, changing Case status, changing Case integration test status and renaming ViewCase are supported; for a Text RTOT Set, only changing Case status is supported; for an ordinary testset, changing Case status and renaming ViewCase are supported. Not all of the supported operations can be done within the same request, 'status' suppresses other modifications, and  'integration_test_status' (for a testset of RTOT Popup topic) superresses other modifications and is superressed by 'status'.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "type" : "string",
          "description" : "Access token of a Text Rtot Test, requests from the shared page should provide this token."
        }, {
          "name" : "tr_test_id",
          "in" : "query",
          "type" : "string",
          "description" : "Required if parameter 'token' is provided (needed by finding the Text RTOT Set)."
        }, {
          "name" : "testset_id",
          "in" : "query",
          "type" : "string",
          "required" : true,
          "description" : "A testset_id or a Text RTOT Set's id."
        }, {
          "name" : "case_id",
          "in" : "path",
          "type" : "string",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Case updated.",
            "schema" : {
              "$ref" : "#/definitions/OperationSuccessFlag"
            }
          },
          "404" : {
            "description" : "Not Found."
          },
          "403" : {
            "description" : "Forbidden."
          }
        }
      },
      "delete" : {
        "tags" : [ "case" ],
        "summary" : "Deletes a Case. For a RTOT Popup Topic, deletes the corresponding ViewCase of the specified case_id; for an ordinary testset, deletes the specified Case or ViewCase (if case_id starts with 'vcase-'). Does not support deletion of Case for a Text RTOT Set.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "testset_id",
          "in" : "query",
          "type" : "string",
          "required" : true
        }, {
          "name" : "case_id",
          "in" : "path",
          "type" : "string",
          "required" : true,
          "description" : "A case_id or vcase_id."
        } ],
        "responses" : {
          "200" : {
            "description" : "Case deleted.",
            "schema" : {
              "$ref" : "#/definitions/OperationSuccessFlag"
            }
          },
          "404" : {
            "description" : "Not Found."
          },
          "403" : {
            "description" : "Forbidden."
          }
        }
      }
    },
    "/text_rtot/tests" : {
      "get" : {
        "tags" : [ "text_rtot" ],
        "summary" : "Gets Text RTOT Tests.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilt id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "in" : "query",
          "description" : "topic id of a topic which supports TextRTOT",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Tests found",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          },
          "403" : {
            "description" : "Forbbiden"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      },
      "post" : {
        "tags" : [ "text_rtot" ],
        "summary" : "Creates a Text RTOT Test",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilt id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "topic_id",
          "in" : "query",
          "description" : "topic id of a topic which supports TextRTOT",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Text RTOT Test Created",
            "schema" : {
              "type" : "object",
              "properties" : {
                "tr_test_id" : {
                  "type" : "string"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbbiden"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    },
    "/text_rtot/tests/{tr_test_id}" : {
      "patch" : {
        "tags" : [ "text_rtot" ],
        "summary" : "Partially updates a Text RTOT Test",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "query",
          "required" : true
        }, {
          "name" : "tr_test_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "type" : "object"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Text RTOT Test updated"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/text_rtot/tests/{tr_test_id}/token" : {
      "get" : {
        "tags" : [ "text_rtot" ],
        "summary" : "Refreshes access token of the Text RTOT Test.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "query",
          "required" : true
        }, {
          "name" : "tr_test_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Token has been reset",
            "schema" : {
              "type" : "object",
              "properties" : {
                "token" : {
                  "type" : "string"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "delete" : {
        "tags" : [ "text_rtot" ],
        "summary" : "Revokes access token of the Text RTOT Test.",
        "parameters" : [ {
          "name" : "autopilot_id",
          "type" : "integer",
          "in" : "query",
          "required" : true
        }, {
          "name" : "topic_id",
          "type" : "string",
          "in" : "query",
          "required" : true
        }, {
          "name" : "tr_test_id",
          "type" : "string",
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Token has been revoked"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/audiences" : {
      "get" : {
        "tags" : [ "audience" ],
        "summary" : "Query audiences brief info",
        "parameters" : [ {
          "name" : "autopilot_id",
          "in" : "query",
          "description" : "autopilot id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "fields to return (seperated by comma \",\")",
          "type" : "string"
        }, {
          "name" : "support_local",
          "in" : "query",
          "description" : "filter by whether audience support local topic",
          "type" : "boolean"
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "filter by whether audience is archived",
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Audiences found",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AudienceBrief"
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "post" : {
        "summary" : "Create an audience",
        "tags" : [ "audience" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "autopilot_id",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "path",
          "name" : "audience_id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "body",
          "in" : "body",
          "schema" : {
            "type" : "object"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Audience created",
            "schema" : {
              "type" : "object",
              "properties" : {
                "audience_id" : {
                  "type" : "string"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/audiences/{audience_id}" : {
      "get" : {
        "summary" : "Get specific audience",
        "tags" : [ "audience" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "autopilot_id",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "path",
          "name" : "audience_id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "fields to return (seperated by comma \",\")",
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Audience found",
            "schema" : {
              "$ref" : "#/definitions/AudienceBrief"
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "patch" : {
        "summary" : "Update audience",
        "description" : "Note that when `archived` is set, other fields should NOT be set. We only do archive or unarchive operation on this audience in this case.",
        "tags" : [ "audience" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "autopilot_id",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "path",
          "name" : "audience_id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AudienceUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Audiences Updated",
            "schema" : {
              "$ref" : "#/definitions/AudienceBrief"
            }
          },
          "403" : {
            "description" : "Forbidden. The user don't have access or the audience cannot be archived for it has running topics.",
            "schema" : {
              "type" : "object",
              "properties" : {
                "running_topics" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/TopicBrief"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "summary" : "Delete an audience",
        "tags" : [ "audience" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "autopilot_id",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "path",
          "name" : "audience_id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Audiences Deleted",
            "schema" : {
              "$ref" : "#/definitions/AudienceBrief"
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "petstore_auth" : {
      "type" : "oauth2",
      "authorizationUrl" : "http://petstore.swagger.io/oauth/dialog",
      "flow" : "implicit",
      "scopes" : {
        "write:pets" : "modify pets in your account",
        "read:pets" : "read your pets"
      }
    },
    "api_key" : {
      "type" : "apiKey",
      "name" : "api_key",
      "in" : "header"
    }
  },
  "definitions" : {
    "TopicBrief" : {
      "type" : "object",
      "properties" : {
        "topic_id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "status" : {
          "type" : "string",
          "enum" : [ "inactive", "running", "completed" ]
        },
        "archived" : {
          "type" : "boolean"
        }
      }
    },
    "TextRTOTTopicBrief" : {
      "type" : "object"
    },
    "Topic" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Topic"
      }, {
        "properties" : {
          "description" : {
            "type" : "string"
          },
          "variations" : {
            "type" : "object"
          },
          "events" : {
            "type" : "array",
            "items" : {
              "type" : "object"
            }
          },
          "goals" : {
            "type" : "array",
            "items" : {
              "type" : "object"
            }
          }
        }
      } ]
    },
    "AudienceBrief" : {
      "type" : "object",
      "properties" : {
        "audience_id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "values" : {
          "type" : "object"
        },
        "description" : {
          "type" : "string"
        },
        "archived" : {
          "type" : "boolean"
        },
        "analysis_switch" : {
          "type" : "boolean"
        },
        "analysis_schedule" : {
          "type" : "object"
        }
      }
    },
    "AudienceUpdate" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "archived" : {
          "type" : "boolean"
        }
      }
    },
    "Production" : {
      "type" : "object",
      "properties" : {
        "autopilot_id" : {
          "type" : "integer"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "testratio" : {
          "type" : "string"
        },
        "sample_ratio" : {
          "type" : "number"
        },
        "type" : {
          "type" : "string"
        },
        "events" : {
          "type" : "array",
          "items" : {
            "type" : "object"
          }
        },
        "goals" : {
          "type" : "array",
          "items" : {
            "type" : "object"
          }
        },
        "locales" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "available_locales" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "support_mode_analytics" : {
          "type" : "boolean"
        }
      }
    },
    "RegisteredApp" : {
      "type" : "object",
      "properties" : {
        "registered_id" : {
          "type" : "string"
        },
        "bundle_id" : {
          "type" : "string"
        },
        "platform" : {
          "type" : "string"
        },
        "internal_name" : {
          "type" : "string"
        },
        "sample_ratio" : {
          "type" : "number"
        }
      }
    },
    "Rule" : {
      "type" : "object",
      "properties" : {
        "audience_id" : {
          "type" : "string"
        },
        "rule_id" : {
          "type" : "string"
        },
        "topic_id" : {
          "type" : "string"
        },
        "variations" : {
          "type" : "array",
          "items" : {
            "type" : "object"
          }
        }
      }
    },
    "OperationSuccessFlag" : {
      "type" : "object",
      "properties" : {
        "success" : {
          "type" : "boolean"
        }
      }
    },
    "Case" : {
      "type" : "object"
    },
    "Variation" : {
      "type" : "object"
    },
    "Segment" : {
      "type" : "object"
    },
    "Testset" : {
      "type" : "object"
    },
    "TestRTOTTest" : {
      "type" : "object"
    },
    "PatchRequest" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/PatchDocument"
      }
    },
    "PatchDocument" : {
      "description" : "A JSONPatch document as defined by RFC 6902, see http://jsonpatch.com/",
      "required" : [ "op", "path" ],
      "properties" : {
        "op" : {
          "type" : "string",
          "description" : "The operation to be performed",
          "enum" : [ "add", "remove", "replace", "move", "copy", "test" ]
        },
        "path" : {
          "type" : "string",
          "description" : "A JSON-Pointer"
        },
        "value" : {
          "type" : "object",
          "description" : "The value to be used within the operations."
        },
        "from" : {
          "type" : "string",
          "description" : "A string containing a JSON Pointer value."
        }
      }
    }
  },
  "externalDocs" : {
    "description" : "Find out more about Swagger",
    "url" : "http://swagger.io"
  }
}